<div class='contentWrapper'>
  <card-directive ng-repeat="card in cardCtrl.stack" data="card"></card-directive>
</div>



<!-- <div class='contentWrapper'>
  <ul>
    <i class="fa fa-chevron-left"></i>
    <li class="innerWrapper" >
      <i class="fa fa-flip-horizontal fa-expand"></i>
      <h1>Card One</h1>
      <span>1</span>
    </li>
    <i class="fa fa-chevron-right"></i>
  </ul>
  <ul ng-class="{'card-detail': expandTrigger1}">
    <i class="fa fa-chevron-left"></i>
    <li class="innerWrapper">
      <i class="fa fa-flip-horizontal fa-expand"></i>
      <h1>Card Two</h1>
      <span>1</span>
    </li>
    <i class="fa fa-chevron-right"></i>
  </ul>
  <ul>
    <i class="fa fa-chevron-left"></i>
    <li class="innerWrapper">
      <i class="fa fa-flip-horizontal fa-expand"></i>
      <h1>Card Three</h1>
      <span>1</span>
    </li>
    <i class="fa fa-chevron-right"></i>
  </ul>
  <ul>
    <i class="fa fa-chevron-left"></i>
    <li class="innerWrapper">
      <i class="fa fa-flip-horizontal fa-expand"></i>
      <h1>Card Four</h1>
      <span>1</span>
    </li>
    <i class="fa fa-chevron-right"></i>
  </ul>
  <ul>
    <i class="fa fa-chevron-left"></i>
    <li class="innerWrapper">
      <i class="fa fa-flip-horizontal fa-expand"></i>
      <h1>Card Five</h1>
      <span>1</span>
    </li>
    <i class="fa fa-chevron-right"></i>
  </ul>
  <ul>
    <i class="fa fa-chevron-left"></i>
    <li class="innerWrapper">
      <i class="fa fa-flip-horizontal fa-expand"></i>
      <h1>Card Six</h1>
      <span>1</span>
    </li>
    <i class="fa fa-chevron-right"></i>
  </ul>
</div>
 -->
