<ul class ='card-outer-wrapper'>

<!-- =====================CARD ONE===================== -->

  <li class='card-inner-wrapper' data-trait='1' data-state='1'>
    <div class='fa fa-2x fa-ellipsis-v'></div>
    <div class='card-header card-aqua'><span class='card-label'>{{data.graduate.first_name}} {{data.graduate.last_name}}</span></div>
    <img class='card-one-photo' src="http://placehold.it/175x175">
    <span class='card-heading-one'>Professional title</span>
    <span class='card-heading-two'><blockquote><a href="">www.portfolio.com</a><br>myemail@fake.com</blockquote></span>
  </li>

<!-- =====================CARD TWO===================== -->

  <li class='card-inner-wrapper' data-trait='2' data-state='2'>
    <div class='fa fa-2x fa-ellipsis-v'></div>
    <div class='card-header card-aqua'><span class='card-label'>About Me</span></div>
    <span class='card-heading-two add-top-margin'><blockquote>{{data.graduate.additional_info}}</blockquote></span>

  </li>

<!-- =====================CARD THREE===================== -->

  <li class='card-inner-wrapper' data-trait='3' data-state='3'>
    <div class='fa fa-2x fa-ellipsis-v'></div>
    <div class='card-header card-aqua'><span class='card-label'>Education</span></div>
    <span class='card-heading-one add-top-margin'>Iron Yard Program:</span>
    <span class='card-heading-two'><blockquote>{{data.graduate.grad_focus}}</blockquote></span>
    <span class='card-heading-one'>Iron Yard Attended:</span>
    <span class = 'card-heading-two'><blockquote>{{data.graduate.grad_location}}, {{data.graduate.grad_session}} {{data.graduate.grad_year}}</blockquote></span>
    <span class='card-heading-one'>Additional Education:</span>
    <span class = 'card-heading-two'><blockquote>{{data.graduate.educations[0].education.school_name}} <br> Concentration: {{data.graduate.educations[0].concentration}} <br>Degree type:</blockquote></span>
  </li>

<!-- =====================CARD FOUR===================== -->

  <li class='card-inner-wrapper' data-trait='4' data-state='4'>
    <div class='fa fa-2x fa-ellipsis-v'></div>
    <div class='card-header card-aqua'><span class='card-label'>Contact</span></div>
    <span class='card-heading-one add-top-margin'>Portfolio:</span>
    <span class='card-heading-two'><blockquote><a href="">www.portfolio.com</a></blockquote></span>
    <span class='card-heading-one'>E-mail:</span>
    <span class='card-heading-two'><blockquote><a href="">myemail@fake.com</a></blockquote></span>
    <span class='card-heading-one'>Telephone:</span>
    <span class='card-heading-two'><blockquote><a href="">(111) 222-3333</a></blockquote></span>
  </li>

<!-- =====================COMMON BUTTONS===================== -->


  <div class='fa fa-5x fa-caret-left' rel='left'></div>
  <div class='fa fa-5x fa-caret-right' rel='right'></div>
  <div class="card-buttons-wrapper-grad">
    <div class='fa fa-2x fa-star' ng-click="favorite()"></div>
    <div class="fa fa-2x fa-envelope" ng-click="action('{card: card}')"></div>
  </div>

</ul>
