$cardColor:white;
$bgCardOne:#b8584c;
$bgCardTwo:#ce832d;
$bgCardThree:#d3b42b;
$bgCardFour:#35a0ad;

//===============marked for deletion
span{
  font-size:100px;
  line-height:400px;
  color:lightgrey;
}
//===============


.cards-wrapper{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;

  max-width:1250px;
  margin:auto;
  position:relative;
/*   @media only screen and (max-width : 1150px){
  max-width:66%;
}
@media only screen and (max-width : 500px){
  max-width:100%;
} */
}
.card-outer-wrapper{
  //border:1px solid red;
  list-style-type:none;
  margin:35px;
  position:relative;
  width:250px;
  height:400px;
  &:hover .fa.fa-5x.fa-caret-left{
    visibility: visible!important;
  }
  &:hover .fa.fa-5x.fa-caret-right{
    visibility: visible!important;
  }
}
.card-inner-wrapper{
  //border:1px solid blue;
  background-color:white;
  border-radius:5px;
  text-align:center;
  display:inline-block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
[data-trait='1']{
  background-color:$bgCardOne;
}
[data-trait='2']{
  background-color:$bgCardTwo;
}
[data-trait='3']{
  background-color:$bgCardThree;
}
[data-trait='4']{
  background-color:$bgCardFour;
}
.fa.fa-2x.fa-ellipsis-v{
  position:absolute;
  top:7px;
  left:13px;
  color:$cardColor;
  &:hover{
    transform:scale(1.1);
    cursor:pointer;
  }
}
.fa.fa-lg.fa-flip-horizontal.fa-expand{
  position:absolute;
  top:10px;
  right:8px;
  color:$cardColor;
  font-weight:bold;
  &:hover{
    transform:scale(1.1) rotate(90deg);;
    cursor:pointer;
  }
}
.fa.fa-5x.fa-caret-right,.fa.fa-5x.fa-caret-left{
  visibility:hidden;
  position:absolute;
  top:160px;
  letter-spacing: 0px;
  color:$cardColor;
  -webkit-user-select: none;//prevents highlighting from double click
  z-index:99999;
  &:hover{
    cursor:pointer;
    transform:scale(1.1);
  }
}
.fa.fa-5x.fa-caret-left{
  left:5px;
}
.fa.fa-5x.fa-caret-right{
  right:5px;
}
