$cardColor:white;
$bgRed:#b8584c;
$bgOrange:#39474E;//#ce832d;
$bgGreen:#0dc67d;
$bgAqua:#6F3D38;//#35a0ad;
$bgBlue:#3576af;
$bgYellow:#ecc119;
$bgCover:rgba(227, 231, 233, 0.9);
$bgCards:rgb(173, 174, 175);




.cards-wrapper{
  display:flex;
  flex-wrap:wrap;
  max-width:960px;
  margin:95px auto;
  position:relative;
  @media only screen and (max-width: 975px){
    max-width:640px;
  }
  @media only screen and (max-width: 655px){
    max-width:320px;
  }
}
.card-outer-wrapper{
  //border:1px solid red;
  list-style-type:none;
  margin:35px;
  position:relative;
  width:250px;
  height:400px;
  &:hover .fa.fa-5x.fa-caret-left{
    visibility: visible!important;
  }
  &:hover .fa.fa-5x.fa-caret-right{
    visibility: visible!important;
  }
}
.card-inner-wrapper{
  border:1px solid $cardColor;
  box-sizing:border-box;
  background-color:$bgCards;
  border-radius:5px;
  text-align:center;
  display:inline-block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/* [data-trait='1']{
  .card-label{
    background-color:$bgCardOne;
  }
}
[data-trait='2']{
  .card-label{
    background-color:$bgCardTwo;
  }
}
[data-trait='3']{
  .card-label{
    background-color:$bgCardThree;
  }
}
[data-trait='4']{
  .card-label{
    background-color:$bgCardFour;
  }
} */
.card-red{
  background-color:$bgRed;
}
.card-orange{
  background-color:$bgOrange;
}
.card-green{
  background-color:$bgGreen;
}
.card-aqua{
  background-color:$bgAqua;
}
.card-header{
  border-top-left-radius:5px;
  border-top-right-radius:5px;

}
.card-label{
  color:$cardColor;
  font-size:18px;
  width:100%;
  font-weight:bold;
  line-height:40px;
  height:40px;
}
.card-one-photo{
  margin: 10px auto 15px auto;
  border-radius:100%;
  background-color:white;
  height:175px;
  width:175px;
  object-fit:contain;
}
.card-heading-one,.card-heading-two{
  margin:auto;
  width:200px;
  display:block;
  text-align:left;
  color:$cardColor;
  font-weight:bold;

}
.card-heading-one{
  font-size:18px;
}
.card-heading-two{
  margin-top:4px;
  font-size:12px;
  blockquote{
    font-size:13px;
    max-height:230px;
    overflow:scroll;
    a {
      color:inherit;
      text-decoration: none;
     }
  }
}
.add-top-margin{
  margin-top:25px;
}

.fa.fa-2x.fa-ellipsis-v{
  position:absolute;
  top:6px;
  left:13px;
  color:$cardColor;
  &:hover{
    transform:scale(1.1);
    cursor:pointer;
  }
  z-index:999;
}
.card-buttons-wrapper{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  width:100%;
  padding:0 10%;
  position:absolute;
  bottom:20px;
}
.fa.fa-2x.fa-envelope{
  &:hover{
    transform:scale(1.1);
    cursor:pointer;
    color:$bgBlue;
  }
  z-index:999;
  color:$cardColor;
}
.fa.fa-2x.fa-map-marker{
  &:hover{
    transform:scale(1.1);
    cursor:pointer;
    color:$bgRed;
  }
  z-index:999;
  color:$cardColor;
}

.fa.fa-2x.fa-star.white{
  &:hover{
    transform:scale(1.1);
    cursor:pointer;
    color:$bgYellow;
  }
  z-index:999;
  color:$cardColor;
}
.fa.fa-2x.fa-star.yellow{
  &:hover{
    transform:scale(1.1);
    cursor:pointer;
  }
  z-index:999;
  color:$bgYellow;
}
.fa.fa-5x.fa-caret-right,.fa.fa-5x.fa-caret-left{
  visibility:hidden;
  position:absolute;
  top:160px;
  letter-spacing: 0px;
  color:$cardColor;
  -webkit-user-select: none;//prevents highlighting from double click
  z-index:999;
  &:hover{
    cursor:pointer;
    transform:scale(1.1);
  }
}
.fa.fa-5x.fa-caret-left{
  left:5px;
}
.fa.fa-5x.fa-caret-right{
  right:5px;
}
.cardSpreadOne{
  z-index:4;
  top:120px;
  &:hover{
    top:115px;
  }
}
.cardSpreadTwo{
  z-index:3;
  top:80px;
  display:inline-block;
  &:hover{
    top:75px;
  }
}
.cardSpreadThree{
  z-index:2;
  top:40px;
  display:inline-block;
  &:hover{
    top:35px;
  }
}
.cardSpreadFour{
  z-index:1;
  display:inline-block;
  &:hover{
    top:-5px;
  }
}
.cardSpreadStack{
  height:520px;
}
.card-message-surround{
  width:100%;
  height:100vh;
  position:fixed;
  top:45px;
  z-index:1000;

  &:hover{
    cursor:pointer;
  }
}
.card-message-wrapper{
  width:75%;
  //min-width:320px;
  height:540px;
  border-radius:5px;
  color:$cardColor;
  background-color:rgba(57, 71, 78, 1);
  margin:80px auto;
  position:relative;
  z-index:1001;
  &:hover{
    cursor:auto;
  }
  .fa.fa-lg.fa-times{
    position:absolute;
    top:7px;
    right:7px;
    color:$bgRed;
    &:hover{
      cursor:pointer;
      transform:scale(1.1);
    }
  }
  h3{
    color:$cardColor;
    display:block;
    margin:auto;
    max-width:75%;
  }
  .msgForm{
    width:80%;
    margin:auto;

    padding-bottom:78px;
    position:relative;
    input,textarea{
      width:100%;
      border:0;
      box-shadow:none;
    }
    textarea{
      height:350px;
      max-height:350px;
      margin:0;
      padding:8px;
    }
    button{
      text-align:right;
      border-radius:5px;
      position:absolute;
      right:0;
      bottom:0;
      &:focus{
        outline:none;
      }
      &:hover{
        transform:scale(1.1);
      }
    }
  }
}

.angular-google-map-container{

  margin:auto;
  height:425px;
}




//.card-animation.ng-move,

//.card-animation.ng-leave,
.card-animation.ng-enter{
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
//.card-animation.ng-leave.ng-leave-active,
//.card-animation.ng-move,
.card-animation.ng-enter {
  opacity:0;
  transform:translateX(1000px);
}
//.card-animation.ng-leave,
//.card-animation.ng-move.ng-move-active,
.card-animation.ng-enter.ng-enter-active {
  opacity:1;
  transform:translateX(0);
}
.card-animation.ng-enter-stagger {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    //fall back if delay fails
    /* -webkit-transition-duration: 0s;
    transition-duration: 0s; */
}



/* .modal-animation.ng-enter{
  -webkit-transition:all linear 0.1s;
  transition:all linear 0.1s;
}
.modal-animation.ng-enter {
  transform:translateY(-50px);
}
.modal-animation.ng-enter.ng-enter-active {
  transform:translateY(0);
} */
