$cardColor:white;
$bgCardOne:#b8584c;
$bgCardTwo:#ce832d;
$bgCardThree:#d3b42b;
$bgCardFour:#35a0ad;

//===============marked for deletion
.cardID{
  font-size:100px;
  line-height:400px;
  color:lightgrey;
}
//===============


.cards-wrapper{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  max-width:1250px;
  margin:55px auto;
  position:relative;
}
.card-outer-wrapper{
  //border:1px solid red;
  list-style-type:none;
  margin:35px;
  position:relative;
  width:250px;
  height:400px;
  &:hover .fa.fa-5x.fa-caret-left{
    visibility: visible!important;
  }
  &:hover .fa.fa-5x.fa-caret-right{
    visibility: visible!important;
  }
}
.card-inner-wrapper{
  //border:1px solid blue;
  background-color:lightgrey;
  border-radius:5px;
  text-align:center;
  display:inline-block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
[data-trait='1']{
  .cardLabel{
    background-color:$bgCardOne;
  }
}
[data-trait='2']{
  .cardLabel{
    background-color:$bgCardTwo;
  }
}
[data-trait='3']{
  .cardLabel{
    background-color:$bgCardThree;
  }
}
[data-trait='4']{
  .cardLabel{
    background-color:$bgCardFour;
  }
}
.search-graduates-header,.search-employers-header,.search-jobs-header{
  &:hover{
    transform:scale(1.05);
  }
}
.cardLabel{
  color:$cardColor;
  font-size:18px;
  width:100%;
  height:40px;
  font-weight:bold;
  display:block;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.fa.fa-2x.fa-ellipsis-v{
  position:absolute;
  top:7px;
  left:13px;
  color:$cardColor;
  &:hover{
    transform:scale(1.1);
    cursor:pointer;
  }
  z-index:99999;
}
.fa.fa-lg.fa-flip-horizontal.fa-expand{
  position:absolute;
  top:10px;
  right:8px;
  color:$cardColor;
  font-weight:bold;
  &:hover{
    transform:scale(1.1) rotate(90deg);;
    cursor:pointer;
  }
  z-index:99999;
}
.fa.fa-5x.fa-caret-right,.fa.fa-5x.fa-caret-left{
  visibility:hidden;
  position:absolute;
  top:160px;
  letter-spacing: 0px;
  color:$cardColor;
  -webkit-user-select: none;//prevents highlighting from double click
  z-index:99999;
  &:hover{
    cursor:pointer;
    transform:scale(1.1);
  }
}
.fa.fa-5x.fa-caret-left{
  left:5px;
}
.fa.fa-5x.fa-caret-right{
  right:5px;
}
.cardSpreadOne{
  z-index:4;
  top:120px;
  &:hover{
    top:115px;
  }
}
.cardSpreadTwo{
  z-index:3;
  top:80px;
  display:inline-block;
  &:hover{
    top:75px;
  }
}
.cardSpreadThree{
  z-index:2;
  top:40px;
  display:inline-block;
  &:hover{
    top:35px;
  }
}
.cardSpreadFour{
  z-index:1;
  display:inline-block;
  &:hover{
    top:-5px;
  }
}
.cardSpreadStack{
  height:520px;
}
