
$bgGrad:#6F3D38;//#35a0ad;
$bgGradDark:#963835;
$bgEmpl:#39474E;//#ce832d;
$bgEmplDark:#496976;
$bgJob:#b8584c;
$bgJobDark:#A73E34;

.invis{
  display:none;
}

.search-accordion{
  margin:0;
  list-style-type:none;
}
.search-graduates-header,.search-employers-header,.search-jobs-header{
  width:100%;
  height:45px;
  margin:0;
  &:focus{
    outline: 0;
  }
  text-align:left;
  &:hover{
    transform:scale(1.05);
  }
  //position:relative;
  .fa.fa-chevron-down,.fa.fa-chevron-right{
    padding-left:10px;
    padding-right:10px;
    /* position:absolute;
    left:15px; */
  }
}
.search-graduates-header{
  background-color:$bgGrad;
  &:hover,&:focus{
    background-color:$bgGradDark;
  }
}
.search-employers-header{
  background-color:$bgEmpl;
  &:hover,&:focus{
    background-color:$bgEmplDark;
  }
}
.search-jobs-header{
  background-color:$bgJob;
  &:hover,&:focus{
    background-color:$bgJobDark;
  }
}
.search-input-wrapper{
  text-align:right;
  margin-top:10px;
  margin-bottom:3px;
  .search-filter-button{
    color:white;
    font-size:14px;
    &:hover{
      cursor:pointer;
      font-size:14.5px;
    }
  }
}
.search-input-button-combined{
  width:100%;
  height:37px;
  display:relative;
  input[type='text']{
    height:37px;
    border:0;
    margin:0;
    width:90%;
    display:inline-block;
    float:left;
    box-shadow:none;
  }
  .search-button{
    height:37px;
    background-color:#FFFFFF;
    width:10%;
    display:inline-block;
    float:right;
    margin:0;
    color:#AAAAAA;
    padding:0;
    &:hover{
      cursor:pointer;
      font-size:1.1rem;
    }
    &:focus{
      outline:none;
    }
  }
}
.search-filter-wrapper{
  select{
    margin-bottom:10px;
  }
}
