// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//general settings
//general settings
h3 {
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: #39474E;
}
img.logoBar {
  height: 200%;
}
//setting home view
//setting home view
* {
font-family: 'Playfair Display', serif;
}

.main-section {
  padding: 0px;
}

.inner-wrap {
  min-height: 100vh;
  .photo {
    position:fixed;
    margin-top: -80px;
    opacity:0;
  }
}


/* @-webkit-keyframes round {
   90%{opacity:1;}
   100%{opacity:0;}
 }

  .bgSlider img:nth-child(4){-webkit-animation: round 0s infinite;}
  .bgSlider img:nth-child(3){-webkit-animation: round 10s infinite;}
  .bgSlider img:nth-child(2){-webkit-animation: round 20s infinite;}
  .bgSlider img:nth-child(1){-webkit-animation: round 30s infinite;}


.off-canvas-wrap {
  min-height: 100%;
} */


//end setting home view
//end setting home view

//settting top nav
//settting top nav
.tab-bar {
  background-color: #39474E;
}
//end settting top nav
//end settting top nav


//form styling
//form styling
.newProfile {
  background: white;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0px;
  border-radius: 1%;
  box-shadow: 6px 6px 5px #454545;

}
.mainForm {
  margin: 0px;
  padding-top: 10%;
}
.logoBlue {
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 5px;
}
.homeForm {
  background: white;
  border-radius: 2%;
  width: 290px;
  margin: auto;
  padding: 8px;
  box-shadow: 6px 6px 5px #454545;
}
.login-container, .signUp-container {
   margin: auto;
   padding: 0px;
}
.ng-valid {
  margin: 0px;
  padding: 0px;
  width: 90%;
  margin-left: 5%;
}
.logoBar a{
  height: 100px;
}
input {
  background-color: #39474E;
  border: 0px;
  margin: 4px;
  color: white;
  padding: 5px;
  font-size: 14px;
  margin-left: 77%;
}
label {
  margin-top: 5px;
  margin-top: 5px;
}
//end form styling
//end form styling

//login home view
//login home view
.userPanel {
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  background: white;
  color: #39474E;
  border-radius: 1%;
  box-shadow: 6px 6px 5px #454545;
  text-align: center;
  width: 500px;
  height: 410px;
}
.userPanel h1 {
  color: #39474E;
  font-size: 25px;
  margin: 5px;
  padding: 5px;

}
.userPanel h3 {
  font-size: 18px;
  margin: 10px;
  padding: 15px;
  color: #39474E;
}
.userPanel i {
  color: #39474E;
}
.userPanel a {
  color: #39474E;
  font-size: 18px;
}
.userPanel.left {
  border: 2px dotted red;
  margin: 0px;
  padding: 0px;
}
.userPanel.left img {
  border: 2px dotted red;
  margin: 0px;
  padding: 10px;
}
.userPanel p {
  margin: 5px;
  padding: 5px;
}
.userPanel.right {
  border: 2px dotted blue;
  margin: 0px;
  padding: 0px;
}
.userPanel.right.favorites {
  border: 2px dotted yellow;
  margin: 0px;
  padding: 0px;
  width: 298px;
}.userPanel.right.notifications {
  border: 2px dotted yellow;
  margin: 0px;
  padding: 0px;
  width: 298px;
}.userPanel.right.messages {
  border: 2px dotted yellow;
  margin: 0px;
  padding: 0px;
  width: 298px;
}

//end login home view
//end login home view


//left sidebar
//left sidebar
#searchWrapper{
  width:100%;
  position:fixed;
  top:0;
  z-index:99999;
}
.off-canvas-list {
  color: white;
}
.fa-search {
  margin-left: 15px;
  color: white;
}
.fa-user {
  margin-left: 15px;
  color: white;
}
//end left sidebar
//end left sidebar
