// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#searchWrapper{
  width:100%;
  background-color: gray;
  position:fixed;
  top:0;
  z-index:99999;
}
.right-small {
  margin: auto;
  padding: auto;
}
.right-small a {
  margin-left: 15px;
  color: white;
}
/* html {
  width: 80%;
} */
