<!------------------PANEL VIEW/PANEL MODALS------------------>
<div class="row" ng-controller='ProfileController as profileCtrl'>
  <div class="welcomePanel">
    <div class="small-4 columns panelLeft">
      <img ng-src={{profileCtrl.userData.profileData.graduate.image_url}}></p>
      <p>{{profileCtrl.userData.profileData.graduate.first_name}} {{profileCtrl.userData.profileData.graduate.last_name}}</p>
      <p>{{profileCtrl.userData.profileData.graduate.grad_focus}}{{profileCtrl.userData.profileData.graduate.grad_year}}</p>
      <p>Current State: {{profileCtrl.userData.profileData.graduate.present_state}}</p>
      <p>Education: {{profileCtrl.userData.profileData.graduate.educations[0].education.level}}</p>

    </div>
    <div class="small-4 columns panel">
    <ul>
      <li><label class="btn1" for="modal-1"><h4>Messages</h4><i class="fa fa-envelope fa-5x"></i></label></li>
      <li><label class="btn2" for="modal-2"><h4>Edit Profile</h4><i class="fa fa-pencil-square-o fa-5x"></i></label></li>
    </ul>
  </div>
    <div class="small-4 columns panel">
    <ul>
      <li><label class="btn3" for="modal-3"><h4>Favorites</h4><i class="fa fa-star fa-5x"></i></label></li>

      <a ng-click="submitLogout()" ng-show="loggedIn()">
      <li><label class="btn4" for="modal-4"><h4>Sign Out</h4><i class="fa fa-sign-out fa-5x"></i></label></li></a>
    </ul>
  </div>
  <div class="small-4 columns twitterRow">
    <h5>Follow The Iron Yard <i class="fa fa-twitter"></i></h5>
    <div twitter-timeline="578846099118632960" auto-resize="true" css-url="assets/welcome.css" data-tweet-limit="15">Loading tweets...</div>
  </div>

  <!----------------------------------MODAL 1 - Messages ---------------------------------->
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal">
        <label class="modal__bg" for="modal-1"></label>
        <div class="modal__inner">
          <label class="modal__close" for="modal-1"></label>
          <h2>{{profileCtrl.userData.profileData.graduate.first_name}}'s Inbox</h2>
        <div class="panel callout radius" ng-repeat= "message in profileCtrl.userData.profileData.graduate.messages">
          <h5>Title: {{message.message.title}}</h5>
          <p>Content: {{message.message.content}}</p>
        </div>
      </div>
    </div>
  <!----------------------------------MODAL 2 - Edit ---------------------------------->
      <input class="modal-state" id="modal-2" type="checkbox" />
      <div class="modal">
        <label class="modal__bg" for="modal-2"></label>
        <div class="modal__inner">
          <label class="modal__close" for="modal-2"></label>
            <h2>Edit Your Profile</h2>

  <!----------------------------------MODAL 3 - Favorites ---------------------------------->
      <input class="modal-state" id="modal-3" type="checkbox" />
      <div class="modal">
        <label class="modal__bg" for="modal-3"></label>
        <div class="modal__inner">
          <label class="modal__close" for="modal-3"></label>
            <h2>Favorites</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, a enim illo ducimus numquam laudantium? Officiis ut enim eveniet, est nobis nihil ipsa vitae non explicabo molestiae error repudiandae quaerat!</p>
        </div>
      </div>
  </div>
</div>
