<div class="row">
  <div class="large-12 small-12 columns">
    <div class="welcomePanel">
      <ul class='small-block-grid-1 medium-block-grid-2 large-block-grid-3'>
        <li class="one"><h2>Testing Data Here</h2><p ng-init='profileCtrl.userData'>{{ profileCtrl.userData }}</p></li>
        <li class="two"><h2>Messages</h2><i class="fa fa-envelope fa-5x"></i></li>
        <li class="three"><h2>Notifications</h2><i class="fa fa-bell fa-5x"></i></li>
        <li class="four"><h2>Following</h2><i class="fa fa-newspaper-o fa-5x"></i></li>
        <li class="five"><h2>Favorites</h2><i class="fa fa-star fa-5x"></i></li>
        <li class="six"><h2>Settings</h2><i class="fa fa-cog fa-5x"></i></li>
      </ul>
    </div>

    <a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Awesome. I have it.</h2>
      <p class="lead">Your couch.  It is mine.</p>
      <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
</div>
