<h1>woot</h1>
<h1>{{currentUser.email}}</h1>
<h1>{{error_message.data.error}}</h1>
<div ng-controller='userCtrl as user' class='container'>

<div ng-hide='loggedIn()' class='login-container'>
 Log In:
 <form ng-submit='submitLogin()'>
   <label>Email</label>
   <input type='text' ng-model='loginCredentials.email'>
   <br>
   <label>Password</label>
   <input type='password' ng-model="loginCredentials.password">
   <br>
   <input type='submit'>
 </form>
</div>
<br>
<div ng-hide='loggedIn()' class='signUp-container'>
 Sign Up:
 <form ng-submit='submitSignUp()'>
   <label>Email</label>
   <input type='text' ng-model='signUpCredentials.email'>
   <br>
   <label>Password</label>
   <input type='password' ng-model="signUpCredentials.password">
   <br>
   <label>Confirm</label>
   <input type='password' ng-model="signUpCredentials.password_confirmation">
   <br>
   <input type='submit'>
 </form>
</div>
<a ng-click='submitLogout()' ng-show='loggedIn()'>
 Logout
</a>
</div>
