

<h1>{{user.currentUser.email}}</h1>
<h1>{{user.error_message.data.error}}</h1>


<!--   <h2>{{ user.signUpCredentials.email }}</h2>
  <h2>{{ user.signUpCredentials.password }}</h2>
  <h2>{{ user.signUpCredentials.password_confirmation }}</h2> -->


    <div class="mainForm">
    <div class='homeForm'>
      <div ng-hide='loggedIn()' class='login-container'>
       <form ng-submit='submitLogin()'>
         <input placeholder='Email' type='text' ng-model='user.loginCredentials.email'>
         <input placeholder='Password' type='password' ng-model="user.loginCredentials.password" class="logpass">
         <input type='submit' ng-click='setUser()'>
        </form>
      </div>
      <div ng-hide='loggedIn()' class='signUp-container'>
         Sign Up:
        <form ng-submit='submitSignUp()'>
         <input placeholder='Email'type='text' ng-model='user.signUpCredentials.email'>
         <input placeholder='Password'type='password' ng-model="user.signUpCredentials.password">
         <input placeholder='Confirm Password'type='password' ng-model="user.signUpCredentials.password_confirmation">
         <input type='submit' ng-click='setUser()'>
       </form>
      </div>
      <a ng-click='submitLogout()' ng-show='loggedIn()'>
       Logout
      </a>
      </div>
    </div>
</div>
