<h1>{{error_message.data.error}}</h1>

<div class="mainForm">
  <div class='homeForm'>
    <div ng-hide='loggedIn()' class='login-container'>
      Login
     <form ng-submit='submitLogin()'>
       <input placeholder='Email' type='text' ng-model='user.loginCredentials.email'>
       <input placeholder='Password' type='password' ng-model="user.loginCredentials.password" class="logpass">
       <input type='submit'>
      </form>
    </div>
  <div ng-hide='loggedIn()' class='signUp-container'>
    Create a new Profile
    <form ng-submit='submitSignUp()'>
      <input placeholder='Email' type='text' ng-model='user.signUpCredentials.email'>
      <input placeholder='Password' type='password' ng-model="user.signUpCredentials.password" class="logpass">
      <input placeholder='Password Confirmation' type='password' ng-model="user.signUpCredentials.password_confirmation" class="logpass">

      <input class='createNewProfileRadio' type="radio" value='graduate' ng-model='user.type' name='gradType'><label for="gradType" class='makeInline'>New Graduate Account</label>
      <br>
      <input class='createNewProfileRadio' type="radio" value='employer' ng-model='user.type' name='emplType'><label for="emplType" class='makeInline'>New Employer Account</label>
      <input type='submit'>
      </form>
    </div>
    <a ng-click='submitLogout()' ng-show='loggedIn()'>
      Logout
    </a>
    </div>
  </div>
</div>
