<h1>Welcome to The Iron Links</h1>
<h3>Create your new profile.</h3>
<form>
  <div class="row">
    <div class="large-4 columns">
        <input type="text" placeholder="First Name" />
      </label>
    </div>
    <div class="large-4 columns">
        <input type="text" placeholder="Last Name" />
      </label>
    </div>
    <div class="large-4 columns">
      <div class="row collapse">
        <div class="small-9 columns">
          <input type="text" placeholder="Email" />
        </div>
        <div class="small-3 columns">
          <span class="postfix">.com</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
        <label>Iron Yard Attended:</label>
        <select>
          <option value="Atlanta">Atlanta</option>
          <option value="Austin">Austin</option>
          <option value="Charleston">Charleston</option>
          <option value="Columbia">Columbia</option>
          <option value="Greenville">Greenville</option>
          <option value="Houston">Houston</option>
          <option value="Indianapolis">Indianapolis</option>
          <option value="Las Vegas">Las Vegas</option>
          <option value="Little Rock">Little Rock</option>
          <option value="Nashville">Nashville</option>
          <option value="Orlando">Orlando</option>
          <option value="Raleigh-Durham">Raleigh-Durham</option>
          <option value="Spartanburg">Spartanburg</option>
          <option value="Tampa-St. Petersburg">Tampa-St. Petersburg</option>
          <option value="Washington, D.C.">Washington, D.C.</option>
        </select>
    </div>
    <div class="large-6 columns">
        <label>Program Completed:</label>
        <select>
          <option value="Front End Engineering">Front End Engineering</option>
          <option value="Mobile Engineering">Mobile Engineering</option>
          <option value="Python Engineering">Python Engineering</option>
          <option value="Rails Engineering">Rails Engineering</option>
          <option value="User Interface Design">User Interface Design</option>
        </select>
    </div>
  </div>
  <div class="row">
  <div class="small-6 columns">
    <label>Year Completed:</label>
      <select>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
      </select>
    </div>
      <div class="small-6 columns">
        <label>Term Completed:</label>
          <select>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
      </div>
  </div>
    <div class="row collapse">
      <label>Portfolio Link:</label>
      <div class="small-2 large-2 columns">
        <span class="prefix">http://</span>
      </div>
      <div class="small-10 large-10 columns">
        <input type="text" placeholder="Enter your URL...">
      </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label for="">Highest Level of Education</label>
      <select>
        <option value="HS/GED">HS/GED</option>
        <option value="Attended College">Attended College</option>
        <option value="Associates Degree">Associates Degree</option>
        <option value="Bachelors Degree">Bachelors Degree</option>
        <option value="Masters Degree">Masters Degree</option>
        <option value="Ph.D.">Ph.D.</option>
      </select>
    </div>
    <div class="large-4 columns">
      <label for="">School Attended</label>
        <input type="text" placeholder="" />
      </label>
    </div>
    <div class="large-4 columns">
      <label for="">Concentration</label>
        <input type="text" placeholder="" />
      </label>
    </div>

        </label>
      </div>
    </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Email Visibility Settings:</label>
      <input type="radio" name="private" value="private" id="private"><label for="private">Only Myself</label>
      <input type="radio" name="partial" value="partial" id="partial"><label for="partial">Other Alumni</label>
      <input type="radio" name="public" value="public" id="public"><label for="public">Alumni and Employers</label>
    </div>

  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Additional Information
        <textarea placeholder=""></textarea>
      </label>
    </div>
  </div>
  <button type='submit'>Submit</button> <button><a ng-click>Cancel</a></button>

</form>
