<div class="row" ng-controller='ProfileController as profileCtrl'>
<div class="newProfile">
<h3>Graduate Sign-Up</h3>
<form ng-submit='profileCtrl.addGradProfile(profileCtrl.gradProfile)'>
  <div class="row">
    <div class="small-6 columns">
        <label for="gradFirstName">First Name</label>
        <input ng-model='profileCtrl.gradProfile.graduate.first_name' type="text" id="gradFirstName" />
    </div>
    <div class="small-6 columns">
        <label for="gradLastName">Last Name</label>
        <input ng-model='profileCtrl.gradProfile.graduate.last_name' type="text" id="gradLastName" />
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
        <label for="gradEmail">E-mail</label>
        <input ng-model='profileCtrl.gradProfile.graduate.email' type="text" id="gradEmail" />
    </div>
    <div class="small-6 columns">
        <label for="gradTelephone">Telephone</label>
        <input ng-model='profileCtrl.gradProfile.graduate.phone' type="text" id="gradTelephone" />
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
        <label for="gradTitle">Professional Title</label>
        <input ng-model='profileCtrl.gradProfile.graduate.title' type="text" id="gradTitle" />
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <label for="gradPersonalStatement">Personal Statement (4-5 sentences)</label>
      <textarea class='newGradTextArea remove-margin width-100 bottom-16' ng-model="profileCtrl.gradProfile.graduate.additional_info" id="gradPersonalStatement"></textarea>
    </div>
  </div>
<div class="row">
          <div class="large-6 columns">
              <label for="gradTIYLocation">Iron Yard Attended</label>
              <select ng-model="profileCtrl.gradProfile.graduate.grad_location" id="gradTIYLocation" class="remove-margin width-100 bottom-16">
                <option value="Atlanta">Atlanta, GA</option>
                <option value="Austin">Austin, TX</option>
                <option value="Charleston">Charleston, SC</option>
                <option value="Columbia">Columbia, SC</option>
                <option value="Greenville">Greenville, SC</option>
                <option value="Houston">Houston, TX</option>
                <option value="Indianapolis">Indianapolis, IN</option>
                <option value="Las Vegas">Las Vegas, NV</option>
                <option value="Little Rock">Little Rock, AR</option>
                <option value="Nashville">Nashville, TN</option>
                <option value="Orlando">Orlando, FL</option>
                <option value="Raleigh-Durham">Raleigh-Durham, NC</option>
                <option value="Spartanburg">Spartanburg, SC</option>
                <option value="Tampa-St. Petersburg">Tampa-St. Petersburg, FL</option>
                <option value="Washington, D.C.">Washington, D.C.</option>
              </select>
          </div>
          <div class="large-6 columns">
              <label for="gradTIYProgram">Iron Yard Program</label>
              <select ng-model="profileCtrl.gradProfile.graduate.grad_focus" id="gradTIYProgram" class="remove-margin width-100 bottom-16">
                <option value="Front End Engineering">Front End Engineering</option>
                <option value="Mobile Engineering">Mobile Engineering</option>
                <option value="Python Engineering">Python Engineering</option>
                <option value="Rails Engineering">Rails Engineering</option>
                <option value="User Interface Design">User Interface Design</option>
              </select>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label for="gradTIYSession">Iron Yard Session</label>
            <select ng-model="profileCtrl.gradProfile.graduate.grad_session" id="gradTIYSession" class="remove-margin width-100 bottom-16">
              <option value="Spring">Spring Session</option>
              <option value="Summer">Summer Session</option>
              <option value="Fall">Fall Session</option>
            </select>
          </div>
          <div class="large-6 columns">
            <label for="gradTIYYear">Iron Yard Year</label>
            <select ng-model="profileCtrl.gradProfile.graduate.grad_year" id="gradTIYYear" class="remove-margin width-100 bottom-16">
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <label for="gradCurrentCity">Current City</label>
              <input ng-model="profileCtrl.gradProfile.graduate.present_city" id="gradCurrentCity" type='text'/>
            </div>
          <div class="small-6 columns">
            <label for="gradCurrentState">Current State</label>
            <select ng-model="profileCtrl.gradProfile.graduate.present_state" id="gradCurrentState" class="remove-margin width-100 bottom-16">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AK">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DC">D.C.</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KA">Kansas</option>
                <option value="KT">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </div>
        </div>
          <div class="row collapse">
            <label for="gradPortfolio">Portfolio URL</label>
            <div class="small-2 large-2 columns">
              <span class="prefix">http://</span>
            </div>
            <div class="small-10 large-10 columns">
              <input ng-model="profileCtrl.gradProfile.link.url" type="text" id="gradPortfolio">
            </div>
          </div>
          <div class="row collapse">
            <label for="gradPhoto">Profile Photo URL</label>
            <div class="small-2 large-2 columns">
      <!--HTTP IS NOT APPENDING TO URL - FIX THIS!-->
      <!--HTTP IS NOT APPENDING TO URL - FIX THIS!-->
      <!--HTTP IS NOT APPENDING TO URL - FIX THIS!-->
      <!--HTTP IS NOT APPENDING TO URL - FIX THIS!-->
              <span class="prefix">http://</span>
            </div>
            <div class="small-10 large-10 columns">
              <input ng-model="profileCtrl.gradProfile.graduate.image_url"type="text" id="gradPhoto">
            </div>
          </div>
        <div class="row">
          <div class="small-4 columns">
            <label for="gradEduLevel">Highest Education Level</label>
            <select ng-model="profileCtrl.gradProfile.education.level" id="gradEduLevel" class="width-100 remove-margin bottom-16">
              <option value="HS/GED">HS/GED</option>
              <option value="Attended College">Attended College</option>
              <option value="Associates Degree">Associates Degree</option>
              <option value="Bachelors Degree">Bachelors Degree</option>
              <option value="Masters Degree">Masters Degree</option>
              <option value="Ph.D.">Ph.D.</option>
            </select>
          </div>
          <div class="small-4 columns">
            <label for="gradEduName">School Attended</label>
              <input ng-model="profileCtrl.gradProfile.education.school_name"type="text" id="gradEduName" />
            </label>
          </div>
          <div class="small-4 columns">
            <label for="gradEduConcentration">Study Concentration</label>
              <input ng-model="profileCtrl.gradProfile.education.concentration"type="text" id="gradEduConcentration" />
          </div>
        </div>
        <button type="submit">Submit</button> <button ng-click="profileCtrl.routeTo('/')">Cancel</button>
    </form>
  </div>
